# Node
node_modules
npm-debug.log*
.node_history
.reify-cache

# Exclude coverage report
coverage
.nyc_output

# IDE
.idea

*#
*~
.*.swp
.tags

#sonarqube
.sonar
.scannerwork
.sonarlint
/sonarlint.json
